node_modules/
ignore/
revanced/
rvx-builder-nodejs-macos
rvx-builder-nodejs-linux
rvx-builder-nodejs-win.exe
excludedPatchesList.json
includedPatchesList.json
dist/
revanced-resource-cache/
index-old.js
options.json
settings.json